html * {
    font-family: sans-serif;
}

select {
    margin-bottom: 8px;
}

#level {
    margin-bottom: 8px;
}

#char-output {
    display: block;
    /* border: solid black 1px; */
}

#char-output img {
    /* border: solid red 1px; */
    float: left;
    width: 1000px;
    margin-right: 20px;
    margin-bottom: 300px;
}

#char-output ul {
    /* border: solid black 1px; */
    list-style: none;
}

#char-output ul > li {
    display: block;
}

#errorDisplay {
    position: absolute;
    background: #fcc;
    color: red;
    display: flex;
    width: 500px;
    left: 50%;
    top: calc(50% + 180px);
    transform: translate(-50%, 0%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    user-select: none;
    padding: 20px;
    display: none;
}